.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  margin-bottom: 1%;
}

input{
  background-color: white;
}

.Wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
